.post-input{
    width:500px;
    border:1px solid #000;
    border-radius: 5px;
    height:25px;
    padding: 5px;
    margin-left:40px;
}
.input-contain{
    margin-top: 40px;
}
.post-loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.genre{
    color:#000;
}
@media screen and (max-width:991px) {
    .input-contain{
        margin-top: 80px;
    }
}
@media screen and (max-width:768px) {
    .post-input{
        width:400px;
    }
}
@media screen and (max-width:575px){
    .post-input{
        width: 300px;
    }
}
@media screen and (max-width:375px){
   .post-input{
    width: 300px;
   }
   .post-unlist{
    padding: 0px;
   }
}