.post-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    margin-left:40px;
    margin-bottom:35px;
    margin-top:40px;
    cursor:pointer;
    text-decoration: none;
}
.post-title{
    font-size:20px;
    color: #000;
}
.post-image{
    height:220px;
    width:400px;
    border-radius:10px;
    margin-right:20px;
    transition:1s;
}
.post-image:hover{
    transform: translateX(15px);
}
.post-article{
    width:500px;
    color:#000;
    transition: 1s;
}
.post-article:hover{
    transform: translateX(10px);
}
.delete-button{
    text-align: center;
    width:100px;
}
.delete-button:hover{
    background-color:#f00c0c;
    transform: translate(10px,10px);
}
.edit-button{
    text-align: center;
    margin-right:10px;
    width:100px;
}
.edit-button:hover{
    background-color: #2fb559;
    transform: translate(10px,10px);
}
@media screen and (max-width:991px){
    .post-image{
        height:180px;
        width:250px;
        margin-right:20px;
    }
    .post-article{
        width:250px;
    }
    .post-title{
        font-size:11px;
    }
    .publish{
        font-size:10px;
    }
    .filter{
        margin-top:2rem;
    }
}
@media screen and (max-width:767px){
    .post-image{
        height:180px;
        width:225px;
        margin-right:20px;
    }
    .post-article{
        width:225px;
    }
    .post-title{
        font-size:11px;
    }
    .publish{
        font-size:10px;
    }
    .button-rows{
        display: flex;
    }
}

@media screen and (max-width:575px){
    .post-image{
        height:150px;
        width:150px;
        margin-right:20px;
    }
    .post-article{
        width:200px;
    }
    .post-title{
        font-size:12px;
    }
    .publish{
        font-size:11px;
    }
    .delete-button{
        width:70px;
    }
    .edit-button{
        width:60px; 
    }
}
@media screen and (max-width:375px){
    .post-list{
        margin-left:20px;
    }
    .post-article{
        width:150px;
    }
    .post-image{
        height:150px;
        width:150px;
        margin-right:20px;
    }
    .post-title{
        font-size:11px;
    }
    .publish{
        font-size:10px;
    }
    .button-rows{
        display: flex;
    }
    .edit-button{
        width: 60px;
        font-size: 10px;
    }
    .delete-button{
        width:60px;
        font-size: 10px;
    }
}