.home{
    margin-top:100px;
}
h1{
    font-size: 52px;
}
p{
    font-size:18.5px;
}
.section-odd{
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#fff;
    height:750px;
}
.odd-img{
    height:458px;
    width:458px;
    border-radius:15px;
    transition: 1s;
    cursor:pointer;
    animation: slideLeft 2s;
    margin-left:50px;
    margin-right: 50px;
}
.odd-img:hover{
    width:470px;
    height:470px;
}
.odd-article{
    margin-right:50px;
    animation: slideRight;
}
@keyframes slideRight {
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 50px;
    }
}
@keyframes slideLeft {
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 50px;
    }
}
.section-even{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color:#000;
    height:550px;
}
.even-img{
    height:458px;
    width:458px;
    border-radius: 15px;
    transition: 1s;
    cursor:pointer;
    animation: slideEvenRight 1s;
    margin-right:50px;
    margin-left: 50px;
}
.even-img:hover{
    width:470px;
    height:470px;
}
.even-article{
    margin-left: 50px;
    animation: slideEvenLeft 2s;
}
@keyframes slideEvenLeft {
    from{
        margin-left: 0px;
    }
    to{
        margin-left:50px;
    }
}
@keyframes slideEvenRight {
    from{
        margin-right: 0px;
        margin-left: 0px;
    }
    to{
        margin-right:50px;
        margin-left:50px;
    }
}
@media screen and (max-width:1280px){
    .section-odd{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:600px;
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .odd-img{
        height: 280px;
        width:500px;
    }
    h1{
        font-size:32px;
    }
}
@media screen and (max-width:991px){
    .odd-img{
        height:300px;
    }
}
@media screen and (max-width:767px){
    .odd-img{
        height:300px;
        width:280px;
    }
    .even-img{
        height:300px;
        width:280px;
    }
}
@media screen and (max-width:575px){
    .odd-img{
        height:300px;
        width:250px;
    }
    .even-img{
        height:300px;
        width:250px;
    }
    .odd-article{
        text-align: center;
    }
    .even-article{
        text-align: center;
    }
    h1{
        font-size:20px;
    }
}
@media screen and (max-width:435px){
    .section-even{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .odd-img{
        height:300px;
        width:300px;
    }
    .even-img{
        height:300px;
        width:300px;
        margin-left:65px;
    }
}
@media screen and (max-width:375px){
    .home{
        margin-top: 100px;
    }
    .odd-img{
        height:250px;
        width:250px;
    }
    .odd-article{
        padding-left: 20px;
    }
    .even-img{
        height:250px;
        width:250px;
        padding-left:10px;
    }
    h1{
        font-size:24px;
    }
    p{
        font-size:16px;
    }
}