.blog{
    animation:slideBlog 2s;
    transition: 1s;
}
.comment-section{
    padding-left: 20px;
}
.comment-article{
    display: flex;
    flex-direction: row;
}
.comment-details{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 10px;
}
.comment-input{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid;
    width:800px;
    font-size:16px;
    outline: none;
}
.comment-rows{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:10px;
}
.comment-cancel{
    background-color: transparent;
    color:#000;
    font-weight: 400;
    border:none;
    padding:8px;
    border-radius: 10px;
    cursor:pointer;
}
.comment-cancel:hover{
    background-color: #a3a2a2;
}
.comment-button-no-color{
    background-color: #edebeb;
    border:none;
    padding:8px;
    border-radius:10px;
    cursor:pointer;
}
.comment-button-color{
    background-color: #1f70db;
    border:none;
    padding:8px;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
}
@keyframes slideBlog {
    0%{
        width:0vw;
    }
    100%{
        width:100vw;
    }
}
.blog-section{
    padding:40px;
}
.blog-img{
    width:500px;
    height:300px;
}
.blog-title{
    font-size: 35px;
    font-family:cursive;
}
.blog-para{
    font-size: 18px;
    line-height: 30px;
}
.blog-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:cursive;
    font-weight: bold;
    font-size: 18px;
    transition: 1s;
    cursor:pointer;
}
.blog-details:hover{
    transform: translateX(10px);
}
@media screen and (max-width:991px){
    .blog-img{
        margin-top:60px;
        height:300px;
        width:400px;
    }
    .blog-title{
        font-size:26px;
    }
    .blog-details{
        font-size:22px;
    }
    .comment-input{
        width:500px;
    }
}
@media screen and (max-width:575px){
    .blog-img{
        height:200px;
        width:330px;
    }
    .blog-title{
        font-size:23px;
    }
    .blog-details{
        font-size:15px;
    }
    .blog-para{
        font-size: 13px;
        line-height: 17px;
    }
    .comment-input{
        width: 300px;
    }
}
@media screen and (max-width:375px){
    .blog-img{
        height:200px;
        width:280px;
    }
    .blog-title{
        font-size: 18px;
    }
    .blog-details{
        font-size:14px;
    }
    .blog-para{
        font-size: 12px;
        line-height: 17px;
    }
    .comment-input{
        width:200px;
        font-size:14px;
    }
}