.blog{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    animation:slideBlog 2s;
    transition: 1s;
}
@keyframes slideBlog {
    0%{
        width:0vw;
    }
    100%{
        width:100vw;
    }
}
.blog-section{
    margin-top:80px;
    padding:40px;
}
.blog-img{
    width:500px;
    height:300px;
    transition:1s;
    cursor:pointer;
}
.blog-img:hover{
    width:520px;
    height:320px;
    border-radius:15px;
}
.blog-title{
    font-size: 35px;
    font-family:cursive;
}
.blog-para{
    font-size: 18px;
    line-height: 30px;
}
.blog-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:cursive;
    font-weight: bold;
    font-size: 18px;
    transition: 1s;
    cursor:pointer;
}
.blog-details:hover{
    transform: translateX(10px);
}

@media screen and (max-width:375px){
    .blog-img{
        height:200px;
        width:280px;
    }
    .blog-title{
        font-size: 18px;
    }
    .blog-details{
        font-size:15px;
    }
    .blog-content{
        font-size:12px;
    }
}