.edit-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:40px;
}
.wall{
    background-image: url('https://images6.alphacoders.com/132/1324657.jpeg');
    background-size: cover;
    min-height: 100vh;
}
.title-text{
    width:400px;
    height:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: transparent;
    border:1px solid;
    border-radius:8px;
    color:#fff;
    font-weight: bold;
    padding-left: 8px;
    margin-top:5px;
    margin-bottom: 5px;
}
.title-content{
    width:800px;
    height:400px;
    padding:10px;
    font-size:22px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 26px;
    background-color: transparent;
    border:1px solid;
    color:#fff;
    border-radius:8px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:5px;
}
.input-image{
    width:400px;
    margin-top: 10px;
    padding:8px;
    border-radius:8px;
    border:1px solid;
    background-color: transparent;
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
select{
    padding:8px;
    width:200px;
    border-radius:10px;
}
label{
    color:#f06807;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom:4px;
    font-size:18px;
}
.add-post-button{
    background-color:#2e62e6;
    padding:6px;
    color:#fff;
    border:none;
    border-radius:7px;
    width:90px;
    font-weight: 510;
    cursor: pointer;
}
.filled-error{
    color:#f0163e;
    font-size:14px;
    font-weight:510;
    margin-top:1px;
}
@media screen and (max-width:1279px){
    .title-content{
        width:500px;
    }
    .wall{
        background-image: url('https://wallpaperaccess.com/full/451308.jpg');
    }
    label{
        color:#fff;
    }
}
@media screen and (max-width:600px){
    .title-text{
        width:320px;
        height:35px;
    }
    .title-content{
        width:320px;
    }
    .input-image{
        width:320px;
    }
    .wall{
        background-image: url('https://c4.wallpaperflare.com/wallpaper/640/564/898/uncharted-4-a-thief-s-end-video-games-wallpaper-preview.jpg');
        max-width: 100%;
    }
    label{
        font-size:16px;
    }
}
@media screen and (max-width:375px){
    .title-text{
        width:250px;
        height:42px;
    }
    .title-content{
        width:250px;
    }
    .input-image{
        width:220px;
    }
}