.comment-list{
    list-style: none;
    margin-bottom: 10px;
}
.comment-user{
    display: flex;
    flex-direction: row;
}
.comment-user-details{
    margin-left:10px;
}
.user{
    width:30px;
    height:30px;
}
.user-date{
    font-size: 12px;
}
.comment-edit-container{
    margin-top:20px;
    margin-bottom:20px;
}
.comment-edit-input{
    width:800px;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:1px solid #000;
    font-size:16px;
    outline:none;
}
.confirm-button{
    width:80px;
    background-color:#28b2ed;
    border:none;
    color:#fff;
    padding:5px;
    margin-left:10px;
    border-radius:8px;
    font-weight: 510;
    font-family:sans-serif;
    font-size:16px;
}
.comment-change-edit{
    background-color: #196ae3;
    border-radius:10px;
    padding:6px;
    width:50px;
    border:none;
    margin-right:10px;
    color:#fff;
    cursor: pointer;
    font-weight: 510;
}
.comment-change-delete{
    background-color: #f51152;
    color:#fff;
    border-radius:10px;
    padding:6px;
    width:60px;
    border:none;
    cursor: pointer;
    font-weight: 510;
}
@media screen and (max-width:575px){
    .user-name{
        font-size:16px;
    }
    .comment-para{
        font-size:13px;
    }
}
@media screen and (max-width:375px) {
    .user-name{
        font-size:14px;
    }
}