.edit-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:40px;
}
.update-post-button{
    background-color:#2e62e6;
    padding:7px;
    color:#fff;
    border:none;
    border-radius:7px;
    width:100px;
    font-weight: 510;
    cursor:pointer;
}
.filled-error{
    color:#f0163e;
    font-size:15px;
    font-weight:510;
    margin-top:1px;
}